{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageCode "zh-cn" }}
  <section class="section section-md section-features">
    <div class="container p-4">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5 p-2">
          <h2 class="h4">这是什么？</h2>
          <p>某不知名野生 APP 施工现场，充满了混沌邪恶的吐槽与捕风捉影的线索泄露...</p>
          <p>什么，所以这到底是什么？继续前进吧，往下阅读吧。</p>
        </div>
        <div class="col-lg-5 p-2">
          <h2 class="h4">你是什么？</h2>
          <p>我是谁？我来自哪里？我要去干什么？在回答这些深奥的问题之前，不妨先阅读我们的<a href="/about">关于</a>栏目。</p>
          <p>如果没有找到答案的话...加入组织调查调查？百闻不如一见，你会明白的。</p>
        </div>
        <div class="col-lg-5 p-2">
          <h2 class="h4">我是什么？</h2>
          <p>重要的或许并非你是什么，而是你<u>愿意成为什么</u>。<del>你所热爱的，就是你的生活。</del></p>
          <p>恣意探索的观光游客？古道热肠的前瞻用户？又或者是...我们之一？</p>
          <p>这将由你自己定义。</p>
        </div>
        <div class="col-lg-5 p-2">
        </div>
      </div>
      <div class="justify-content-center text-center">
        <h2 class="h4">慢着，我还是一头雾水：</h2>
        <p>上路吧，前方会有你想要的答案。</p>
      </div>
    </div>
  </section>
    {{ end }}
  
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">准备就绪，即将前往的目的地是:「施工前线」。</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/pieces/施工前线/" role="button">立即出发</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}